<a href="https://colab.research.google.com/github/Thevikashroy/Thevikashroy.github.io/blob/main/Loop_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
str1 = "Vikash"
for i in str1:
  print(i)

V
i
k
a
s
h

In [2]:
for i in str1:
  print(i.upper())

V
I
K
A
S
H

**Given a print all the even number in the list**

In [10]:
list1 = [1,2,3,4,57,5,6,56,8,7]
list1.sort()
for num in list1:
  if num % 2 == 0:
    print (num)

2
4
6
8
56

In [13]:
list1 = [1,2,3,4,57,5,6,8,7,56]
list2 = []
for num in list1:
  if num % 2 == 0:
    list2.append(num)

print (list2)

[2, 4, 6, 8, 56]

**Summation of all values available in the given list**

In [19]:
list1 = [1,2,3,4,57,5,6,8,7,56]
sum = 0
for num in list1:
  sum = sum+num

print(sum)

149

**for -else usecase in loops in Python**

In [21]:
str2 = "vikash"
for i in str2:
  print(i)
else:
  print("Loop executed successfully!")

v
i
k
a
s
h
Loop executed successfully!

**Break statement**

In [24]:
list1 = [1,2,3,4,57,5,6,8,7,56]
for i in list1:
  print(i)
  if i == 6:
    break
  else:
    print("loop executed successfully!")

1
loop executed successfully!
2
loop executed successfully!
3
loop executed successfully!
4
loop executed successfully!
57
loop executed successfully!
5
loop executed successfully!
6

**find the factorial number**

In [16]:
num = int(input("Enter the number: "))
factorial = 1
while num > 0:
  factorial = factorial * num
  num -= 1
print(factorial)

Enter the number: 6
720

**Reverse a list**

 list2 = [2,4,5,6,7] Output = [7,6,5,4,2]

**Two Pointer Technique **

In [25]:
list2 = [2,5,8,12,17]
low = 0
high = len(list2)-1
while low < high:
  ## swap list2[low] whith the list2[high]
  list2[low], list2[high] = list2[high], list2[low]
  ## increment the loow pointer and decrement the high pionter
  low += 1
  high -= 1
print(list2)

[17, 12, 8, 5, 2]